html {
	
}
body {
	font-family: "Bitstream Vera Sans",Verdana,Arial,Helvetica,Sans,"Bitstream Vera Serif";
	font-size: 1em;
	<!--
	width: 1400px;
	height: 800px;
	-->
	color: #003300;
	background-image: #000000 url(https://raw.githubusercontent.com/Dinh-Hung-Tu/Dinh-Hung-Tu.github.io/master/bg_4.jpg) no-repeat scroll top left;
	margin: 0px;
}

a {
	color: #003300;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
}

#contain {
	position: relative;
	top: 25px;
	left: 460px;
	width: 520px;
}

.title {
	font: 3em Georgia, "Times New Roman", Times, serif;
	color:#FF4500;
	padding-top: 60px;
}

.menu {
	height: 40px;
}

.bouquet {
	position: relative;
	top: 6px;
}
.bouquet img {
	float: left;
	clear: left;
	margin-right: 1em;
}

* html .hollyhack {height: 1%; margin-top: -8px; margin-left: 2px;}

.filler {
	clear: left;
	float: left;
	width: 2em;
	height: 150px;
}

h3 {
	clear:both; 
	margin:10px 0 10px 0; 
	color:#800000; 
	font-weight:normal; 
	font-size: 1.5em; 
	letter-spacing:-2px;
}

.footer {
	clear: both;
	position: relative;
	top: 20px;
	padding-top: 3px;
	border-top: 1px solid #cbcd65;
	font-size: .75em;
	text-align: right;
}
.morecontent span {
    display: none;

}
